# as of 2022-03-30 the latest version of pybluez2 on PyPI is 0.44 from August 20, 2021;
# that version uses setuptools "use_2to3=True" which was removed in setuptools v58.0.0,
# therefore it won't install on modern Python versions
# As of today, there's a fix in the git repo but not yet released to PyPI.
# so we have to install from git.
git+https://github.com/pybluez/pybluez.git@07ebef044195331a48bbb90a3acb911922048ba0
pypng==0.0.20
packbits==0.6
